%h1 Listing lectures

%table
  %thead
    %tr
      %th Title
      %th Weekly hours
      %th Description
      %th
      %th
      %th

  %tbody
    - @lectures.each do |lecture|
      %tr
        %td= lecture.title
        %td= lecture.weekly_hours
        %td= lecture.description

%br
