/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

$font: 'PT Sans', sans-serif;
$color: #9E258A; //purple

body{
  font-family: $font;
  background-color: $color;
  color: white;
  margin: 0px;
  padding: 0px;
}
.title{
  text-transform: uppercase;
  font-size: 50px;
  margin: 10px;
}
.welcome{
  margin-right: 1400px;
  font-size: 30px;
  margin-left: 30px;
}
.welcoming_message{
  margin-right: 1400px;
  font-size: 20px;
  margin: 10px;
}
.header{
  font-family: $font;
  background-color: #22051D;
  font-size: 25px;
  padding: 10px;
  margin: 0px;
  color: blue;
  direction: rtl;
}
a:link {
  color: blue;
}

a:visited {
  color: blue;
}

a:hover {
  color: blue;
}

a:active {
  color: blue;
}
.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  height: 12rem;
  width: 100%;
  padding: 0px;
  background-color: grey;
  color: white;
  direction: ltr;
  text-align: center;
  line-height: 0.5;
}
.column {
  float: left;
  width: 33.33%
}
.footer:after {
  content: "";
  display: table;
  clear: both;
}
label.error {
  color: #DA1B1B;
  font-size: 1rem;
  display: block;
  margin-top: 5px;
}
input.error {
  border: 1px dashed red;
  font-weight: 300;
  color: red;
}
label.error.fail-alert {
  border: 2px solid red;
  border-radius: 4px;
  padding: 2px 0 6px 6px;
  background: #ffe6eb;
}
input.valid.success-alert {
  border: 2px solid #4CAF50;
  color: green;
}
h1{
  margin: 5px;
  text-transform: uppercase;
}
